SECRET_KEY=your_secret_key_here
PORT=8000
DEVICE_TOKEN=your_fcm_device_token_here

RESTAURANT_NAME=The Masala Twist
RESTAURANT_PHONE=(905) 230-9355
RESTAURANT_ADDRESS=your_restaurant_address_here
ORDER_TYPE=pickup
